<!-- MEP Nav Item - NA3 -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
        aria-controls="collapseFour">
        <i class="fas fa-fw fa-table"></i>
        <span>NA3</span>
    </a>
    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">9.0 Prod Tenants</h6>
            <a class="collapse-item" href="MEP.html?region=NA3&mepversion=90&environment=Prod">9.0</a>
        </div>
    </div>
</li>
<!-- END MEP Nav Item - NA3 -->