<!-- All Nav Items -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true"
        aria-controls="collapseZero">
        <i class="fas fa-fw fa-table"></i>
        <span>General Search</span>
    </a>
    <div id="collapseZero" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/home">Search By State</a>
        </div>
    </div>
</li>
<!-- END All Nav Items -->