<!-- EPP Nav Item -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true"
        aria-controls="collapseEight">
        <i class="fas fa-fw fa-print"></i>
        <span>Production</span>
    </a>
    <div id="collapseEight" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">All Tenants</h6>
            <a class="collapse-item" href="All_EPP.html">All</a>
            <h6 class="collapse-header">Production</h6>
            <a class="collapse-item" href="EPP.html?region=NA2">NA2</a>
            <a class="collapse-item" href="EPP.html?region=AU1">AU</a>
            <a class="collapse-item" href="EPP.html?region=SG1">SG</a>
            <a class="collapse-item" href="EPP.html?region=IE1">IE</a>
        </div>
    </div>
</li>
<!-- END EPP Nav Item -->