<!-- CloudInventory Nav Item -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true"
        aria-controls="collapseNine">
        <i class="fas fa-fw fa-cloud"></i>
        <span>Production</span>
    </a>
    <div id="collapseNine" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">All Tenants</h6>
            <a class="collapse-item" href="CloudInventory.html">All</a>
            <h6 class="collapse-header">Region Specific</h6>
            <a class="collapse-item" href="CloudInventory_Region.html?region=NA1">NA1</a>
            <a class="collapse-item" href="CloudInventory_Region.html?region=NA2">NA2/3</a>
            <a class="collapse-item" href="CloudInventory_Region.html?region=AU">AU</a>
            <a class="collapse-item" href="CloudInventory_Region.html?region=IE">IE</a>
        </div>
    </div>
</li>