<!-- MEP Nav Item - SG -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
        aria-controls="collapseSix">
        <i class="fas fa-fw fa-table"></i>
        <span>Singapore</span>
    </a>
    <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Production</h6>
            <a class="collapse-item" href="MEP.html?region=SG1&mepversion=90&environment=Prod">9.0</a>
        </div>
    </div>
</li>
<!-- END MEP Nav Item - SG -->