<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion sidenav toggled" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center"
        href="https://customerinformation.dsicloud.com/">
        <div class="sidebar-brand-icon">
            <img src="img/dsi-cloud-logo.png" />
            <!--<i class="fas fa-laugh-wink"></i>-->
        </div>
        <div class="sidebar-brand-text mx-2 mt-2">
            DSI Customer Information
        </div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider mt-1" />
    <div class="sidebar-heading">
        All
    </div>
    {{>sidebar.mep.all}}
    <!-- MEP Heading -->
    <div class="sidebar-heading">MEP</div>
    {{>sidebar.mep.na1}}
    {{>sidebar.mep.na2}}
    {{>sidebar.mep.na3}}
    {{>sidebar.mep.au}}
    {{>sidebar.mep.sg}}
    {{>sidebar.mep.ie}}
    <!-- Divider -->
    <hr class="sidebar-divider" />
    <div class="sidebar-heading">EPP</div>
    {{>sidebar.epp}}
    <!-- Divider -->
    <hr class="sidebar-divider" />
    <div class="sidebar-heading">CloudInv</div>
    {{>sidebar.cloudinventory}}
    <hr class="sidebar-divider" />
    <!-- Admin Heading -->
    <div class="sidebar-heading">
        Admin
    </div>
    {{>sidebar.configuration}}
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />
</ul>
<!-- End of Sidebar -->