<!-- Nav Item - Configuration -->
<li class="nav-item">
    <a class="nav-link" href="https://dailyotter.org/">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Help</span></a>
</li>
<!-- END Nav Item - Configuration -->