<!-- MEP Nav Item - AU -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
        aria-controls="collapseFive">
        <i class="fas fa-fw fa-table"></i>
        <span>Australia</span>
    </a>
    <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Production</h6>
            <a class="collapse-item" href="MEP.html?region=AU1&mepversion=85&environment=Prod">8.5</a>
            <a class="collapse-item" href="MEP.html?region=AU1&mepversion=90&environment=Prod">9.0</a>
        </div>
    </div>
</li>
<!-- END MEP Nav Item - AU -->