<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion sidenav toggled" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
        <div class="sidebar-brand-icon">
            <img src="img/covid-19.png" width=50 height=50 />
        </div>
        <div class="sidebar-brand-text mx-2 mt-2">
            COVID-19 Information
        </div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider mt-1" />
    <div class="sidebar-heading">
        All
    </div>
    {{>sidebar.county.all}}

    <!-- Divider -->
    <hr class="sidebar-divider" />
    <!-- Admin Heading -->
    <div class="sidebar-heading">
        Admin
    </div>
    {{>sidebar.configuration}}
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />
</ul>
<!-- End of Sidebar -->