<!-- MEP Nav Item - NA1 layout 1 -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
        aria-controls="collapseOne">
        <i class="fas fa-fw fa-table"></i>
        <span id="REGION">NA1</span>
    </a>
    <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Test</h6>
            <a class="collapse-item" href="MEP.html?region=NA1&mepversion=85&environment=Test">8.5</a>
            <a class="collapse-item" href="MEP.html?region=NA1&mepversion=90&environment=Test">9.0</a>
            <h6 class="collapse-header">Production</h6>
            <a class="collapse-item" href="MEP.html?region=NA1&mepversion=85&environment=Prod">8.5</a>
            <a class="collapse-item" href="MEP.html?region=NA1&mepversion=90&environment=Prod">9.0</a>
            <a class="collapse-item" href="MEP.html?region=Demo-NA&mepversion=90&environment=Demo-NA">DEMO</a>
            <a class="collapse-item" href="MEP.html?region=Partner-NA&mepversion=90&environment=Partner-NA">PARTNER</a>
            <a class="collapse-item" href="MEP.html?region=CIDev&mepversion=90&environment=CIDev">CI DEV</a>
            <h6 class="collapse-header">Monitoring</h6>
            <a class="collapse-item"
                href="https://monitoring.dsicloud.com/d/1YT26puQik/production-na1-us90-cloud-general?refresh=5m&orgId=1">PRD
                9.0 Server Stats</a>
        </div>
    </div>
</li>
<!-- END MEP Nav Item - NA1 layout 1 -->